{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Новости по категории "{{category}}"</h1>
    <a href="{% url 'post_search'%}">Поиск</a>
    <p>
    <a href="{% url 'news_create'%}">Добавить новость</a>
    <a href="{% url 'articles_create'%}">Добавить статью</a>
    </p>
    {% if is_not_subscriber%}
    <p class="text-center">
        <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary brn-sn">Подписаться</a>
    </p>
    {% endif %}
   <hr>
   {% if category_news_list %}
       <table align="center" width= 100%>
           <tr>
               <td>Заголовок</td>
               <td>Категории</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for post in category_news_list %}
           <tr>
               <td>
                   <a href="{% url 'post_detail' post.pk %}">{{ post.header|censor }}</a>
               </td>
               <td>
                   {% for category in post.category.all%}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>
                   {{ post.datetime|date:'d M y G:i:s' }}
               </td>
               <td>
                   {{ post.text|truncatechars:20|censor }}
               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
