{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
          
           {% for post in news %}
           <tr>
               <td><a href="{% url 'post_detail' post.pk %}">{{ post.header }}</a></td>
               <td>{{ post.datetime|date:'d M y G:i:s' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>

   {% endif %}
{% endblock content %}
